
.DS_Store
.DS_Store
GALDev.xcworkspace/xcuserdata/administrator.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/administrator.xcuserdatad/xcschemes/xcschememanagement.plist
